
  .player-stat-card{
 
    
  }
  .card-header {
    transform: translateY(75px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin: 0 40px;
  }
  
  .rating {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .position {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .country-flag {
    width: 50px;
    height: auto;
  }
  
  .player-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .player-info{
    transform: translateY(-150px);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 32px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
 
  }
  
  .player-name {
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 0;
 
  
  }
  
  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-size: 1rem;
  }
  